html, body {
    overflow: hidden;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: OpenSans, tahoma, arial, sans-serif;
    color:white;
}

#canvas {
    width: 100%;
    height: 100%;
    touch-action: none;
}

#loadingScreen{
    width: 100%;
    height: 100%;
    position:absolute;
    text-align:center;
    background-color: #333;
}
    #loadingScreen .content{
        margin-top:40vh;
        background-color:rgba(0,0,0,0.5);
        border:1pt solid black;
    }
    #loadPercent{
        font-weight:100;
        font-size:0.6em;
        letter-spacing:6pt;
    }
    #kassdedi{
        position:absolute;
        bottom: 8pt;
        right: 8pt;
        font-weight:100;
        font-style:italic;
        letter-spacing: 1pt;
        font-size:0.8em;
    }
